body {
    background-color: #252638;
}

.conteiner {
    width: 800px;
    height: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
}

.conteiner form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

h2{
    margin-bottom: 30px;
    text-align: center;
}
div input {
    width: 530px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 12px;
    text-indent: 20px;
    font-size: 16px;
    background-color: #F4F4F4;
}

form button {
    width: 535px;
    height: 40px;
    border-radius: 12px;
    font-size: 17px;
}